
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 10px 0 55px 0;
    height: 10px;
    background-color: #f7fbfb;
    position: sticky;
    top: 0px;
    bottom: 10px;
} 

ul {
    list-style-type: none; 
    background-color: #f7fbfb;
    padding-bottom: 10px;
    
}
.nav-logo {
    display: inline-block;
}


.right-nav {
    text-align: right;
    
   
}

.nav {
    display: inline;
    padding-right: 30px;
}

.tuitt-button {
    color: white;
    background-color: #c2195b;
    border-radius: 20px;
    border-style: none;
    font-weight: 700;
    height: 40px;
    width: 150px;
}

.apply-button {
    color: white;
    background-color: #c2195b;
    border-radius: 20px;
    border-style: none;
    font-weight: 700;
    height: 40px;
    width: 150px;
}

.book-button {
    color: white;
    background-color: #336589;
    border-radius: 20px;
    border-style: none;
    font-weight: 700;
    height: 40px;
    width: 150px;
}

#bg-image {
    min-height: 100vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
   
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.container {
    color: white;
    text-align: right;
    padding-left: 60rem;
    padding-right: 10rem;
    
}

.subtitle {
    padding-left: 10rem;
}

.intro {
    text-align: center;
    min-height: 20vh;
}

.title {
    font-family: Zilla Slab;
    font-size: 50px;
}

.title2 {
    font-family: Zilla slab;
}

.intro-description {
    padding-top: 2rem;
    padding-left: 30rem;
    padding-right: 30rem;
    text-align: left;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    background-size: 100%;
    min-height: 50vh;
    padding-top: 20rem;
}

footer {
    text-align: center;
}
